@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: "CabinetGrotesk-Variable";
    src: url("../public/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: "GeneralSans-Variable";
    src: url("../public/fonts/GeneralSans-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }

}



@keyframes starAnimation {
  0% { opacity: 0.8; }
  50% { opacity: 1; }
  100% { opacity: 0.8; }
}

@keyframes floatUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.floatUpDown {
  animation: floatUpDown 2s ease-in-out infinite;
  animation-play-state: paused; /* Default: paused */
  transition: transform 0.4s ease-in-out;
}

.group:hover .floatUpDown {
  animation-play-state: running; /* Runs when hovered */
}

.bg-custom-gradient-2 {
  background-image: linear-gradient(0deg,rgba(144,177,242,.5),#000);
}

.projects-wrapper{
  /* z-index: 10; */
  position: relative;
}

.projects-wrapper::before {
  content: '';
  position: absolute;
  /* width: 100%; */
  width: 200%;
  /* height: 300px; */
  height: 200vh;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 0 !important;
  /* background: linear-gradient(0deg, rgba(144, 177, 242, 0.5), transparent); */
  background: linear-gradient(0deg, rgba(104, 137, 222, 0.2), transparent);

}



.projectsCursor {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
  background: linear-gradient(to right, #b3a2c7, #f2a1b3, #a1c4fd);
  border-radius: 5px;
  pointer-events: none;
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.cursorText {
  flex: auto;
  font-size: inherit;
  pointer-events: none;
  margin: auto;
}